#notifications{
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}
/* .logo-header{
    width: 50px;

}
header .banner{
    background: linear-gradient(0deg, #04061b67, #04061b67), url("../public/images/bg/1.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;

}
header .root{
    top: 210px;
    left: 8%;
    font-size: 13px;
} */
body {
    background-color: #F6F6F6;
}
:root {
    --gris-clair: #F6F6F6;
}
/* :root{
    --gris-clair : #F6F6F6;
}
#notifications{
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}
body{
    background-color: var(--gris-clair);
}
.logo-header{
    width: 50%;

}
header .banner{
    background: linear-gradient(0deg, #04061b67, #04061b67), url("../images/bg/1.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;

}
header .root{
    top: 200px;
    left: 8%;
    font-size: 13px;
} */

body {
    background-color: #F6F6F6;
}
:root {
    --gris-clair: #F6F6F6;
}
body {
    background-color: var(--gris-clair);
}
#notifications {
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}
.nav-fixed {
    box-shadow: 0 2px 8px #95959E;
}

.nav-fixed i {
    font-size: 22px;
}

.burger-menu {
    position: absolute;
    display: none;
    transition: 1s;
    z-index: 100;
}
#menu, #burger {
    cursor: pointer;
}
.list-menu {
    position: absolute;
    top: 80px;
    padding-top: 100px;
    width: max-content;
    left: -400px;
    transition: 500ms;
    width: 260px;
    background-color: white;
    height: 90vh;
}
.list-solo {
    border: none;
    text-align: center;
    padding: 16px;
    font-weight: 700;
    opacity: 0.7;
    font-size: 0.9em;
    transition: 300ms linear;
    border-radius: none;
}
.list-solo:hover {
    background-color: var(--marron);
    color: white;
}
.panier-part {
    margin-top: 50px;
}
.component-content {
    background-color: white;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}
/* .component-content:hover {
    color: white;
    background-color: var(--marron);
} */
.component-content :only-child {
    opacity: 0.8;
}
.panier-component:first-child .component-content  {
    background-color:var(--marron);
    color: white;
}

.product-thumbnail img{
    width: 70px;
}
@media screen and (max-width: 767px){
    .section-panier {
        overflow-x: scroll;
    }
}
.section-panier table {
    width: 100%;
    min-width: 700px;
}
.section-panier tr,
.table-cart-head
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
    margin: 10px 0;
}
.section-panier th span {
    text-align: center;
    opacity: 0.7;
}
.content-quantity {
    display: flex;
    gap: 6px;
}
.content-quantity span {
    font-size: 0.8em;
    opacity: 0.7;
    cursor: pointer;
}
.content-quantity span, 
.content-quantity input,
.content-remove span {
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-desc{
    opacity: 0.8;
}
.product-nom {
    font-size: 0.8em;
    font-weight: 500;
}
.product-color,
.product-size {
    font-size: 0.7em;
}


.invisible-status {
    visibility: hidden;
    position: absolute;
    min-width: 90px;
}
.left-content,
.right-content {
    height: 320px;
}
.left-content form input:nth-child(1) {
    text-indent: 20px;
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    height: 40px;
}
.left-content form input:nth-child(2) {
    color: white;
    border: 1px solid var(--brown);
    background-color: var(--brown);
    width: 200px;
    height: 40px;
}
.l-c-trait {
    background-color: #eee;
    height: 4px;
    width: 60px;
    margin-bottom: 16px;
}
.subto-cart {
    border-bottom: 3px solid #eee;
    padding-bottom: 6px;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 6px;
}
.subto-cart span {
    opacity: 0.7;
}
.subto-cart:last-child {
    color: var(--brown);
    border: none;
    margin-top: 12px;
}
.subto-cart:last-child span {
    opacity: 1;
}
.input-bot-1 {
    border: 1px solid #F6F6F6 !important;
    background-color: #F6F6F6 !important;
    text-indent: 20px !important;
}
.bot-content {
    height: max-content !important;
    margin-bottom: 60px;
}
@media screen and (max-width: 767px){
    .bot-input {
        flex-direction: column;
    }
}


:root {
    --gris-clair: #F6F6F6;
}

#notifications {
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}

body {
    background-color: var(--gris-clair);
}

.logo-header {
    width: 50%;

}

header .banner {
    background: linear-gradient(0deg, #04061b67, #04061b67), url("../../public/images/bg/1.jpg");
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-top: 89px;
    width: 100%;
}

header .root {
    top: 290px;
    left: 8%;
    font-size: 14px;
    opacity: 0.9;
}


/* FOOTER  */
#bottom{
    background-color: var(--gris-clair);
} 
#inf{
    font-size: 14px;
    }
#subscribe{
    color: black;
    background-color: var(--gris-clair)!important;

}
footer{
background-color: var(--gris);
}
footer hr{
    background-color: var(--brown);
    opacity: 1;
    border: 2px solid var(--brown);
    color: var(--brown);
    width: 70px;
    position: relative;
    top: -10px;
}
footer ul li a:hover{
    color: var(--brown)!important;
}
footer input{
    background-color: var(--gris-clair)!important;
}




body {
    background-color: var(--gris-clair);
}
#notifications {
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}
.nav-fixed {
    box-shadow: 0 2px 8px #95959E;
}

.nav-fixed i {
    font-size: 22px;
}

.burger-menu {
    position: absolute;
    display: none;
    transition: 1s;
    z-index: 100;
}
#menu, #burger {
    cursor: pointer;
}
.list-menu {
    position: absolute;
    top: 80px;
    padding-top: 100px;
    width: max-content;
    left: -400px;
    transition: 500ms;
    width: 260px;
    background-color: white;
    height: 90vh;
}
.list-solo {
    border: none;
    text-align: center;
    padding: 16px;
    font-weight: 700;
    opacity: 0.7;
    font-size: 0.9em;
    transition: 300ms linear;
    border-radius: none;
}
.list-solo:hover {
    background-color: var(--marron);
    color: white;
}
.panier-part {
    margin-top: 50px;
}
.component-content {
    background-color: white;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}
/* .component-content:hover {
    color: white;
    background-color: var(--marron);
} */
.component-content :only-child {
    opacity: 0.8;
}
#cc-3{
    background-color:var(--marron);
    color: white;
}
#cc-1{
    background-color:white;
    color: black;
    opacity: 0.8;
}

.product-thumbnail img{
    width: 70px;
}
@media screen and (max-width: 767px){
    .section-panier {
        overflow-x: scroll;
    }
}
.section-panier table {
    width: 100%;
    min-width: 700px;
}
.section-panier tr,
.table-cart-head
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
    margin: 10px 0;
}
.section-panier th span {
    text-align: center;
    opacity: 0.7;
}
.content-quantity {
    display: flex;
    gap: 6px;
}
.content-quantity span {
    font-size: 0.8em;
    opacity: 0.7;
    cursor: pointer;
}
.content-quantity span, 
.content-quantity input,
.content-remove span {
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-desc{
    opacity: 0.8;
}
.product-nom {
    font-size: 0.8em;
    font-weight: 500;
}
.product-color,
.product-size {
    font-size: 0.7em;
}


.invisible-status {
    visibility: hidden;
    position: absolute;
    min-width: 90px;
}
.left-content,
.right-content {
    height: 320px;
}
.left-content form input:nth-child(1) {
    text-indent: 20px;
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    height: 40px;
}
.left-content form input:nth-child(2) {
    color: white;
    border: 1px solid var(--brown);
    background-color: var(--brown);
    width: 200px;
    height: 40px;
}
.l-c-trait {
    background-color: #eee;
    height: 4px;
    width: 60px;
    margin-bottom: 16px;
}
.subto-cart {
    border-bottom: 3px solid #eee;
    padding-bottom: 6px;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 6px;
}
.subto-cart span {
    opacity: 0.7;
}
.subto-cart:last-child {
    color: var(--brown);
    border: none;
    margin-top: 12px;
}
.subto-cart:last-child span {
    opacity: 1;
}
.input-bot-1 {
    border: 1px solid #F6F6F6 !important;
    background-color: #F6F6F6 !important;
    text-indent: 20px !important;
}
.bot-content {
    height: max-content !important;
    margin-bottom: 60px;
}
@media screen and (max-width: 767px){
    .bot-input {
        flex-direction: column;
    }
}


:root {
    --gris-clair: #F6F6F6;
}

#notifications {
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}

body {
    background-color: var(--gris-clair);
}

.logo-header {
    width: 50%;

}

header .banner {
    background: linear-gradient(0deg, #04061b67, #04061b67), url("../public//images/bg/1.jpg");
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-top: 89px;
    width: 100%;
}

header .root {
    top: 290px;
    left: 8%;
    font-size: 14px;
    opacity: 0.9;
}
.card-head .gris:focus-within{
    background-color: #CAA46A;
    color: white;
}
.button-one:focus-within{
    background-color: #9f4a3e;
    color: white;
}

.card-head .gris{
    background-color: white;
    color: grey;
    height: 70px;
    width: 20%;
    border: none;
    box-shadow: 2px 5px 2px #ded5d5;


}
/* .card-head .beige{
    background-color: var(--marron);
    color: white;
    height: 70px;
    width: 20%;
    border: none;
    box-shadow: 2px 5px 2px #ded5d5;
}  */
/* .cardleft{
    height: 200px;
}
.cardright{
    
    
} */
.details{
    height: 600px;
}

.button-one{
    margin-top: 2%;
    width: 40%;
    height: 50px;
    border: none;
    color: white;
    background-color: var(--brown);
}

.paiementcontainer{
    height: 1280px;
    width: 70%;
}
.was-validated{
     height: 1020px;
     width: 100%;
}
